{% extends 'web_part/base.html' %}
</head>
<body>
{% block content %}
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Фильтровать</button>
    </form>

    {% if All_people %}
        <ul>
            {% for i in All_people %}
                <hr>
                <span class="time_chat">Время: {{ i.time_chat }}</span>
                <span class="account">Имя пользователя: {{ i.account }} </span><br>
                <span class="user_num">Номер аккаунта: {{ i.account.user_num }}</span> <br>
                <span class="message">Сообщение: {{ i.message|linebreaksbr|safe }}</span>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет данных</p>
    {% endif %}
{% endblock content %}
